@attribute [Microsoft.AspNetCore.Components.RouteAttribute(ConstantsUrl.BilletIndex)]
@inject IBilletService BilletService
@inject ISemaineService SemaineService
@inject NavigationManager NavManager
@inject NotifierTitleService NotifierTitle

@if (billetViewModel == null)
{
    <div class="spinner"></div>
}
else
{
    <Confirm @ref="deleteConfirmation"
             ConfirmationChanged="ConfirmDelete_Click"
             ConfirmationMessage=@($"Êtes-vous sûr de vouloir supprimer ce blanchiment ?")
             UnableMessage=@($"")>
    </Confirm>

    <RadzenDropDown Data="semaineViewModelList"
                    @bind-Value=@semaineViewModelSelected
                    AllowClear="true"
                    AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    TextProperty="Libelle"
                    Placeholder="Semaine"
                    Change="SemaineChange">
    </RadzenDropDown>

    <MatButton Icon="add" Raised="true" Class="mb-3 float-right" @onclick="RedirectToCreate">Blanchiment</MatButton>

    <BlazorTable.Table class="table table-dark" TableHeadClass="thead-dark" TableItem="BilletViewModel" Items="billetViewModel" PageSize="12">
        <BlazorTable.Column TableItem="BilletViewModel" Title="Date" Field="@(x => x.Date)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="BilletViewModel" Title="De" Field="@(x => x.From)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="BilletViewModel" Title="Argent sale" Field="@(x => x.ArgentSaleString)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="BilletViewModel" Title="Payé" Field="@(x => x.PayeString)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="BilletViewModel" Title="Bénéfice" Field="@(x => x.BeneficeString)" Sortable="true" Filterable="true" Width="20%" />
        <BlazorTable.Column TableItem="BilletViewModel" Title="Actions" Width="10%">
            <Template Context="tableContext">
                <MatIconButton Class="matIconButton p-0" Style="width: 24px;height: 24px;" Icon="create" @onclick="@(() => RedirectToEdit(tableContext.Id))"></MatIconButton>
                <MatIconButton Class="matIconButton p-0" Style="width: 24px;height: 24px;" Icon="delete" @onclick="@(() => RedirectToDelete(tableContext))"></MatIconButton>
            </Template>
        </BlazorTable.Column>
        <BlazorTable.Pager ShowPageNumber="true" ShowTotalCount="true" />
    </BlazorTable.Table>
}

@code {
    private BilletViewModel[] billetViewModel;
    private BilletViewModel billetViewModelDelete;

    private SemaineViewModel[] semaineViewModelList;
    private SemaineViewModel semaineViewModelSelected;

    private BilletViewModel[] allBilletViewModel;


    protected ConfirmBase deleteConfirmation { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await NotifierTitle.Update(Lost.SharedLib.Constants.TitleTransactionIndex);

        billetViewModelDelete = new BilletViewModel();
        allBilletViewModel = await BilletService.GetAllAsync();
        allBilletViewModel = allBilletViewModel.OrderByDescending(v => v.Date).ToArray();
        billetViewModel = allBilletViewModel;
        semaineViewModelList = await SemaineService.GetAllAsync();
        semaineViewModelSelected = semaineViewModelList.Last();
        semaineViewModelList = semaineViewModelList.OrderByDescending(s => s.Num).ToArray();
        SemaineChange();
    }

    protected void RedirectToCreate()
    {
        NavManager.NavigateTo(ConstantsUrl.BilletCreateOrEdit);
    }

    protected void RedirectToEdit(long id)
    {
        NavManager.NavigateTo(ConstantsUrl.BilletCreateOrEdit + "/" + id);
    }

    protected async Task RedirectToDelete(BilletViewModel viewModel)
    {
        billetViewModelDelete = viewModel;
        bool canBeDeleted = await BilletService.CanBeDeleted(viewModel.Id);
        if (canBeDeleted)
        {
            deleteConfirmation.Show();
        }
        else
        {
            deleteConfirmation.ShowUnableDelete();
        }
    }

    protected async Task ConfirmDelete_Click(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            await BilletService.DeleteAsync(billetViewModelDelete.Id);
            billetViewModel = await BilletService.GetAllAsync();
        }
    }

    private void SemaineChange()
    {
        if(semaineViewModelSelected == null)
        {
            billetViewModel = allBilletViewModel;
        }
        else
        {
            billetViewModel = allBilletViewModel.Where(t => t.SemaineViewModel.Id == semaineViewModelSelected.Id).ToArray();
        }
    }
}